<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.vi.daemon</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/keenan_salonga/.vi/.venv/bin/python</string>
        <string>/Users/keenan_salonga/.vi/src/vi_daemon.py</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/keenan_salonga/.vi/logs/vi.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/keenan_salonga/.vi/logs/vi.stderr.log</string>
</dict>
</plist>